
.center {
 margin-top: 100px; /*height of divs*/
 width: 100%;
 text-align: center; /*center child divs*/
}


.login {
	height:auto;
	width:190px;
	margin:auto;
	border:1px #CCC solid;
	padding:15px;
	text-align: center;
	display: inline-block; /*join divs*/
}

.login input {
	padding:5px;
	margin:5px
 }

.signup{
  height:auto;
	width:190px;
	margin:auto;
	border:1px #CCC solid;
	padding:15px;
  text-align: center;
  display: inline-block; /*join divs*/
}

.signup input {
  padding:5px;
	margin:5px
}
